:root {
    --primary: #171427;
    --gray100: #e8e8e8;
    --gray200: #9c9c9c;
    --gray300: #dddddd;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: linear-gradient(white, var(--gray100));
}

.navbar {
    display: flex;
    width: 100%;
    background: var(--primary);
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    position: relative;
}

.navbar input {
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
}


.logo {
    display: flex;
    color: #FFFFFF;
    font-family: "Boldonse", system-ui;
}

.logo h1 {
    font-size: 26px;
}

.logo a {
    text-decoration: none;
}

.icon-menu {
    display: none;
}

.nav-links {
    font-size: 14px;
    font-weight: 500;
}

.nav-links ul, li {
    display: flex;
    gap: 30px;
    list-style: none;
    color: #FFFFFF;
}

.nav-links ul, li, a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-links ul, li, a:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-out;
}

.hamburger {
    display: none;
}

.banner {
    width: 90%;
    height: 220px;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
}

.banner img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
}

.vitrine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    margin: 5px 0 40px 0;
}

.title-vitrine {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    width: 200px;
    border: 1px solid var(--gray300);
    padding: 10px 10px 30px 10px;
    text-align: center;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 2px 4px 10px var(--gray300);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px var(--gray300);
}

footer {
    width: 100%;
    background-color: var(--primary);
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
    margin-top: 0;
}

@media screen and (width <= 848px) {
    .nav-links ul {
       /* display: none; */
        flex-direction: column;
        background-color: #d6d6d6;
        padding: 15px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        gap: 20px;
    }

    .icon-menu {
        font-size: 20px;
        color: #ffffff;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: relative;
    }

    .logo h1 {
        font-size: 18px;
    }

    .navbar input {
        padding: 10px 12px;
        width: 40%;
    }
}